  <nav>
    {{!-- <div class="nav-wrapper #00897b teal darken-1"> --}}
    {{!-- <div class="nav-wrapper #263238 blue-grey darken-4"> --}}
      <div class="nav-wrapper #ef5350 red lighten-1">
      <a href="/" class="brand-logo #212121 grey-text text-darken-4">Sports Connect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="#212121 grey-text text-darken-4 nav-tabs" href="/venues">Venues</a></li>
        <li><a class="#212121 grey-text text-darken-4 nav-tabs" href="/news">News</a></li>
        <li><a class="#212121 grey-text text-darken-4 nav-tabs"  href="collapsible.html">Login/SignUp</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    
      {{#each articles}}
    <div class="col s12 m4">
        <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{{this.urlToImage}}}">
        </div>
        <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{{this.title}}}<i class="material-icons right">more_vert</i></span>
        <p><a href="#">{{{this.url}}}</a></p>
        </div>
        <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{{this.title}}}<i class="material-icons right">close</i></span>
        <p>{{{this.description}}}</p>
        </div>
        </div>
    </div>
      {{/each}}
  </div>
